<!DOCTYPE html>
<html>
  <head>
    <title>Create a thing</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>This is the thing! A form!</h1>
    <form action="/card" method="post">
      <label for="sender">Sender's Name</label>
      <input id="sender" name="sender" type="test">
      
      <label for="recipient">Recipient's Name</label>
      <input id="recipient" name="recipient" type="test">
      
      <button type="submit">Go!</button>
    </form>
  </body>
</html>