<!DOCTYPE html>
<html>
  <head>
    <title>Hello Buddies</title>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css'>
  </head>
  <body>
    <h1>Heyo @Model.Recipient,</h1>
    <p>This is a letter.</p>
    <p>A letter is this.</p>
    <p>No letter is better,</p>
    <p>Those letters all miss.</p>
    <p>Sincerely, @Model.Sender</p>
  </body>
</html>